
.app-header {
    background: #ffffff;
    border-bottom: 2px solid #08b5e5;
    color: #08b5e5;
    float: left;
    font-size: 30px;
    line-height: 100px;
    height: 100px;
    text-align: center;
    width: 100%;
}

.app-header-title {
    margin-left: 20px;
}

.app-body {
    clear: both;
    float: left;
    overflow: auto;
    position: relative;
    text-align: center;
    width: 100%;
}

.app-button-create-wallet,
.app-button-scan-wallet {
    clear: both;
    float: none !important;
    font-size: 30px;
    margin: 30px 10px 0 !important;
    max-width: 100%;
    padding: 20px !important;
    width: 500px;
}

.app-button-create-wallet .fa,
.app-button-scan-wallet .fa {
    font-size: 60px;
}
