
.app-header {
    background: #ffffff;
    border-bottom: 2px solid #08b5e5;
    color: #08b5e5;
    float: left;
    font-size: 30px;
    line-height: 100px;
    height: 100px;
    text-align: center;
    width: 100%;
}

.app-header-walletClose {
    background: #FFFFFF !important;
    border-right: 2px solid #ededed !important;
    border-radius: 0px  !important;
    box-shadow: none  !important;
    font-size: 20px;
    left: 4px;
    line-height: 90px !important;
    position: absolute !important;
    top: 4px;
    width: 90px;
}

.app-header-menuButton {
    background: #FFFFFF !important;
    border-left: 2px solid #ededed !important;
    border-radius: 0px  !important;
    box-shadow: none  !important;
    font-size: 20px;
    line-height: 90px !important;
    position: absolute !important;
    right: 4px;
    top: 4px;
    width: 90px;
}

.app-header-title {
    margin-left: 20px;
}

.app-body {
    clear: both;
    float: left;
    overflow: auto;
    position: relative;
    text-align: center;
    width: 100%;
}

.app-button-create-wallet,
.app-button-scan-wallet {
    clear: both;
    float: none !important;
    font-size: 30px;
    margin: 30px 10px 0 !important;
    max-width: 100%;
    padding: 20px !important;
    width: 500px;
}

.app-button-create-wallet .fa {
    font-size: 60px;
}


.app-button-scan-wallet {
    padding: 40px 20px !important;
}

.app-button-scan-wallet .fa {
    font-size: 100px;
    margin-bottom: 20px;
}
