@CHARSET "UTF-8";

.wallet {
    background: #e4e4e4;
    left : 0;
    padding: 0 20px 20px;
    position: absolute;
    top : 0;
}

/** buttons
 * ========================================== */

.wallet-buttons {
    clear: both;
    float: left;
    margin-top: 10px;
    width: 100%;
}

.wallet-buttons button {
    border-radius: 0;
    font-size: 22px;
    padding: 20px;
    width: 50%
}

/** wallet body / data & qrcode
 * ========================================== */


.wallet-body {
    max-width: 100%;
    margin: 0 auto;
    max-width: 100%;
    width: 800px;
}

.wallet-data,
.wallet-qrcode {
    clear: both;
    float: left;
    width: 100%;
}

.wallet-data label {
    clear: both;
    float: left;
    width: 100%;
}

.wallet-data-address {
    clear: both;
    float: left;
    font-size: 24px;
    margin-top: 10px;
    padding: 10px;
    width: 100%;
}

.wallet-data-address label {
    font-size: 12px;
}
