
* {
    padding: 0;
    margin: 0;

        box-sizing: border-box;
   -moz-box-sizing: border-box;
-webkit-box-sizing: border-box;

    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
}

body {
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: none;
    -webkit-user-select: none;

    background-color:#E4E4E4;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    width:100%;
}

article, aside, figure, footer, header, hgroup, nav, main, section {
    display: block;
}

header, footer {
    clear: both;
    float: left;
    width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    color: #21536f;
    font-weight: 400;
}

/** qui elements
 * ========================================================== */

a.qui-button {
    text-decoration: none;
}

.qui-button-active,
.qui-button:active,
.qui-button:hover {
    background: #08b5e5 !important;
}

.qui-button[disabled]:hover {
    background: #ededed !important;
    box-shadow: 0 0 2px #999;
    color: #08b5e5 !important;
}

.qui-windows-alert .qui-window-popup-content {
    text-align: center;
}

.qui-panel-sheet-header {
    background: #FFF !important;
    border-bottom: 4px solid #08b5e5 !important;
    color: #08b5e5 !important;
    font-size: 20px !important;
    font-weight: normal !important;
    height: 60px !important;
    line-height: 60px !important;
}

.qui-panel-sheet-header button {
    color: #08b5e5 !important;
    font-size: 20px !important;
    height: 60px !important;
    line-height: 60px !important;
}

.qui-panel-sheet-header button:hover {
    color: #fff !important;
}
